html {
  height: 100%;
  width: 100%;
}
/* !!# means id, . means class!! */

.page-container {
    display: flex;
}
.chart-container {
    position: relative;
    height: 60%;
    width: 80%;
}
.summary {
    position: relative;
    width: 25%;
    height: 40%;
    background-color: mediumvioletred;
}


/* for the handles */
.drag-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#xDeHandle {
  background: #157dc2;
}
#yDeHandle {
  background: #157dc2;
}
#ySuHandle {
  background: #fa325d;
}
#xSuHandle {
    background: #fa325d;
}