html {
  height: 100%;
  width: 100%;
}
/* !!# means id, . means class!! */

/*for the elements to be next to each other*/
.page-container {
  display: flex;
}
.chart-container {
  position: relative;
  height: 60%;
  width: 77%;
}
.summary {
  position: relative;
  width: 23%;
  height: 40%;
  background-color: mediumvioletred;

  /*stopping the text from being highlighted when dragging the handles (also stopping highlighting in general*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
    font-size: 23px;
}

/* for the handles */
.drag-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#xDeHandle {
  background: #157dc2;
}
#yDeHandle {
  background: #157dc2;
}
#ySuHandle {
  background: #fa325d;
}
#xSuHandle {
  background: #fa325d;
}