html {
  height: 100%;
  width: 100%;
}
/* !!# means id, . means class!! */

/*for the elements to be next to each other*/
.page-container {
    display: flex;
}
.chart-container {
    position: relative;
    height: 60%;
    width: 77%;
}
.summary {
    position: relative;
    width: 23%;
    height: 40%;
    background-color: mediumvioletred;
}

h1 {
    font-size: 23px;
}

/* for the handles */
.drag-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#xDeHandle {
  background: #157dc2;
}
#yDeHandle {
  background: #157dc2;
}
#ySuHandle {
  background: #fa325d;
}
#xSuHandle {
    background: #fa325d;
}